---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  <!-- wb -->
  <section>
  <center><wb:share-button appkey="5Oow35" addition="simple" type="icon" ralateUid="1780013221" default_text="我分享了@诗酒趁年华 的一篇博文"></wb:share-button></center>
  </section>
  <!-- wb -->
 <!-- wx Button BEGIN -->
  <div id="ckepop" style="padding-left: 48.7%;">
    <span class="jiathis_txt"><a class="jiathis_button_weixin"></a></span>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
   </div> 
 <!-- wx Button END -->
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon -->
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
	  <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>	
     <!--  END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
  <!-- BEGIN comment -->
  <section class="comment">
  <!-- 来必力City版安装代码 -->
  <div id="lv-container" data-id="city" data-uid="MTAyMC8zNTE1Ni8xMTY5MQ=="></div>
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus }}';
      var disqus_identifier = '{{ page.guid }}';
      
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];

         if (typeof LivereTower === 'function') { return; }

         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;

         e.parentNode.insertBefore(j, e);
     })(document, 'script');
     function collapse_comment() {
            // document.getElementById("disqus_thread").innerHTML = '';
            $("#disqus_thread").slideUp(400, function() {
                $("#disqus_thread").empty();
                $("#leave_comment_link").css("display", "");
                $("#collapse_comment_link").css("display", "none");
                $("#disqus_thread").css("display", "");
            });
  </script>
  <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
  <!-- City版安装代码已完成 -->
  </section>
  <!-- END comment -->
</article>

